dist/
temp/
.vscode/
github-material-icons-chrome-extension.zip
github-material-icons-firefox-extension.zip
github-material-icons-edge-extension.zip
src/icon-cache.js
src/icon-map.json
src/icon-list.json
src/language-map.json
svg/
data/

# Directories/files that may appear in your environment
node_modules
*.log
.idea
.cache/
.vscode/
.DS_Store
.eslintcache
Thumbs.db
