/* GitHub package icon spacing fix. */
.octicon-package[data-material-icons-extension] {
  margin-right: 5px;
}

.octicon-file-zip[data-material-icons-extension] {
  margin-right: 5px;
}

.releases-download-list .item a {
  display: flex;
  align-items: center;
}
