body[data-material-icons-extension-size='sm'] img[data-material-icons-extension='icon'] {
  transform: scale(0.875);
}

body[data-material-icons-extension-size='lg'] img[data-material-icons-extension='icon'] {
  transform: scale(1.125);
}

body[data-material-icons-extension-size='xl'] img[data-material-icons-extension='icon'] {
  transform: scale(1.25);
}

.material-icons-exension-hide-pseudo::before {
  display: none !important;
}

/* Hide folder open/closed icons from new code view tree when clicked by disabling
   display of those icons when they immediately follow the replaced icon */
img[data-material-icons-extension='icon'] + svg.octicon-file-directory-open-fill,
img[data-material-icons-extension='icon'] + svg.octicon-file-directory-fill {
  display: none !important;
}
