body[data-material-icons-extension-size="sm"]
  [data-material-icons-extension="icon"] {
  transform: scale(0.875);
}

body[data-material-icons-extension-size="lg"]
  [data-material-icons-extension="icon"] {
  transform: scale(1.125);
}

body[data-material-icons-extension-size="xl"]
  [data-material-icons-extension="icon"] {
  transform: scale(1.25);
}
